<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bigtictactoeonlinegame.activity"
    android:versionCode="8"
    android:versionName="0.6.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />


    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="6171000" />
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />

        <activity
            android:name="com.bigtictactoeonlinegame.mainactivity.StartActivity"
            android:label="@string/title_activity_second"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bigtictactoeonlinegame.gamefield.GameFieldActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.bigtictactoeonlinegame.mainactivity.SelectTypeOfGameActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.bigtictactoeonlinegame.bluetoothgame.BTDeviceListActivity"

            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bigtictactoeonlinegame.onlinerooms.OnlineRoomsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.bigtictactoeonlinegame.openedroom.OnlineOpenedRoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bigtictactoeonlinegame.bluetoothgame.BluetoothGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bigtictactoeonlinegame.mainactivity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.bigtictactoeonlinegame.mainactivity.SettingsActivity" />

    </application>

</manifest>